@charset "UTF-8";
/*CSS Document*/

.responsive{
  max-width: 100%;
  height: auto;
}
h1{
  font-size: 100px;
  font-family: 'Bonheur Royale', cursive;
}

p{
  font-family: 'Lato', sans-serif;
  }

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}
